<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ todo.title }} -ID : {{ todo.pk }}
        <div class="input-area my-4">
       <form action="{% url 'editTask' todo.pk %}" method="POST">
        {% csrf_token %}
      <div class="input-group">
        <input id="newtask" type="text" name="newtask" value="{{todo.title}}" class="form-control" placeholder="Add a task (static)" aria-label="New task">
        <button id="add-btn" class="btn btn-primary" type="submit">Update</button>
      </div>
       </form>
  </div>
</body>  
</html>